{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hola {{ user.username }}!
<p><a href="{% url 'logout' %}">Salir</a></p>
<p><a href="{% url 'crearusuario' %}">Crear usuario</a></p>
<p><a href="{% url 'usuario' %}">Ver usuarios</a></p>
<p><a href="{% url 'crearproducto' %}">Crear producto</a></p>
<p><a href="{% url 'servicio' %}">Agendar servicio</a></p>
{% for pac in pacienteForm %}
<li>{{ pac.nombres }}</li>
{% endfor %}
{% else %}
<p>No haz iniciado sesión</p>
<a href="{% url 'login' %}">Iniciar sesión</a>
{% endif %}
{% endblock %}